.recipe-phase {
  padding: 20px;
  margin-bottom: 20px;
}

.preparation {
  background-color: #e7e7e7;
}

ul.recipe-images ul {
  float: none !important;
  li {
    display: inline-flex;
    padding: 6px;
  }
}
